<h1>List of Cars</h1>


<p *ngIf="!listofcars"><em>Loading...</em></p>
<p>Cart Total: <strong>{{ currentCartTotal }}</strong></p>
<table class='table' *ngIf="listofcars">
 
  <tbody>
    <tr *ngFor="let listofcar of listofcars">

      <td>
        <table class='table' *ngIf="listofcar.cars.vehicles">
          <thead>
            <tr>
              <th>ID</th>
              <th>Warehouse</th>
              <th>Price</th>
              <th>Date Added</th>
              <th>Licensed</th>
              <th> Add to card</th>
            </tr>
          </thead>
          <tr *ngFor="let listofvec of listofcar.cars.vehicles">
            <td>{{ listofvec._id }}</td>
            <td>{{ listofcar.name }}</td>
            <td>{{ listofvec.price }}</td>
            <td>{{ listofvec.date_added }}</td>
            <td>{{ listofvec.licensed }}</td>
            <td><button class="xx" *ngIf="this.listofvec.licensed" (click)="AddToCard(listofvec.price)">Add to Card</button></td>
          </tr>
        </table>
      </td>

    </tr>
  </tbody>
</table>
